<p id="notice"><%= notice %></p>

<h1></h1>

<div class="container">
  <% @pins.each do |pin| %>
      <div class="thumbnail col-md-4">
        <h3><%= pin.name %></h3>
        <%= image_tag(pin.photo, :class => 'img-responsive')%>
        <p><%= pin.description %></p>
        <div class="buttons">

          <%= link_to 'Ver', pin, :class =>'btn btn-primary' %>
          <%= link_to 'Editar', edit_pin_path(pin), :class =>'btn btn-info' %>
          <%= link_to 'Borrar', pin, method: :delete, data: { confirm: 'Are you sure?' } , :class =>'btn btn-danger'%>

         </div>
      </div>

    <% end %>
 

</div>

<br>


<%= link_to 'New Pin', new_pin_path, :class =>'btn btn-success' %>

